*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    left: 16px;
    line-height: 60px;
    z-index: 1;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.647);
    box-shadow: 10px 10px 4px rgba(118, 113, 113, 0.5);
    transition: all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 0px 6px rgb(107, 104, 104);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    transform: all 0.3s linear;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;  
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 10px 20px;
}

.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    margin: 6px;
    padding-right: 8px;
}

.sidebar_menu .social_media {
    
    position: absolute;
    left: 25%;
    bottom: 40px;
}

.sidebar_menu .social_media i{
    color: rgb(72, 204, 238);
    opacity: 0.5;

}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 2px 2px 6px grey;
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu{
    left: 0px;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked~ .sidebar_menu .btn_two i{
    opacity: 1;
}